/*************** 초기화 ****************/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {margin: 0; padding: 0; font-size: 14px; color:#222; box-sizing: border-box; font-family:'Noto Sans KR', sans-serif; height:100%; font-weight:300;}
h1, h2, h3, h4, h5, h6, p, span, img  {margin: 0; padding: 0; font-weight: 300; border:none;}
div, ul, li, ol, dl, dd, dt{margin: 0; padding: 0; box-sizing: border-box; list-style: none; border:none;}
table {margin:0; padding:0; border-collapse:collapse;}
th, td {margin:0; padding:0;}
img {vertical-align: middle;}

a {text-decoration:none; color: inherit;}

.hand {cursor:pointer;}
.clear {clear:both;}
.clear:after {clear:both; content:""; display: block;}
.img {width:100%;}
.hover:hover {opacity:0.8;}
.eng {font-family: 'Montserrat', sans-serif;}
.tit {font-size: 1.2rem; font-weight: 500; color: #222; margin-bottom: 0.5rem; letter-spacing: 2px;}
body, html {height: 100%;}


/********** nav **********/
.nav {width: 4.5%; float: left; position: fixed; background-color: #fff; height: 100%; z-index: 10;}
.nav > .nav_logo {width: 70%; position: absolute; top: 3%; left: 50%; transform: translate(-50%, -3%); cursor: pointer;}
.nav .fa-bars, .nav .fa-close {font-size: 1.2rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer;}
.nav .fa-close {display: none;}
.nav > ul {font-size: 2rem; color: #999; position: absolute; bottom: 3%; left: 50%; transform: translate(-50%, -3%);}
.nav > ul > li {cursor: pointer;}
.nav > ul > :nth-child(2) {margin: 10px 0;}

.nav_wrap {display: none; position: fixed; background-color: #fff; top: 0; right: 100%; z-index: 10; width: 20%; height: 100%; padding: 1.5rem;}
.nav_wrap > .wrap_logo {width: 80%; float: right;}
.nav_wrap > .icon {font-size: 2rem; color: #999; position: absolute; bottom: 3%; transform: translateY(-3%);}
.nav_wrap > .icon > li {cursor: pointer;}
.nav_wrap > .icon > :nth-child(2) {margin: 10px 0;}
.nav_wrap > .navi {font-size: 1.4rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;}
.navi > li {margin-bottom: 1rem;}
.navi > li > a {font-weight: 600; }
.nav_wrap > p {font-size: 1.2rem; color: #222; position: absolute; bottom: 12%; left: 61%; transform: translate(-61%, -12%);}
.nav_wrap > p > span {display: block;}
.nav_wrap > p > :nth-child(2) {font-size: 1rem; color: #999;}


/********** 공통사항 **********/
.banner {background-size: cover; background-repeat: no-repeat; background-position: fixed; background-position: center center; width: 100%; height: 100%;}
.page {width: 95.5%; height: 100%; position: relative; z-index: 5; float: right;}
/********** page0 **********/

#page0 .banner {background-image: url("../img/foot/page0/page0.jpg"); text-align: center;}
#page0 >.banner > .txt {position: absolute; top: 50%; left: 20%; transform: translate(-20%, -50%); width: 28%;}
#page0 .txt > .full_logo {width: 50%; margin: 0 auto;}
#page0 .txt > .full_logo:after {
    content: "";
	display: block;
	width: 1px;
    height: 100px;
    background-color: #222;
    margin: 10% 50%;

}
#page0 .txt > :nth-child(2) {width: 15%; height: 15%; border-right: 1px solid #222; margin: 2rem 0;}
#page0 .txt > :last-child > p {margin-bottom: 3rem;}
#page0 .txt > :last-child > p > span {display: block; font-size: 1.2rem; text-align: center;}
#page0 .txt > :last-child > button {display: block; background-color: none; border: 1px solid #222; padding: .4rem .7rem; position: relative; z-index: 1; box-sizing: border-box; margin: 0 auto;}

#page0 .txt > :last-child > button:hover{color:#fff;}
/*이벤트가 발생하기 전의 과정*/
#page0 .txt > :last-child > button:after{width: 0; height: 100%; position: absolute; top: 0; left: 0; content: ""; -webkit-transition:all 0.7s ease; -moz-transition:all 0.7s ease; -o-transition:all 0.7s ease; transition:all 0.7s ease; z-index: -1;}
/*마우스가 올라갔을 때 발생되는 애니메이션*/
#page0 .txt > :last-child > button:hover:after{width: 100%;}
#page0 .txt > :last-child > button:after{background-color: #222;}


/********** page1 **********/
#page1 .banner {background-image: url("../img/foot/page1/page1.jpg");  text-align: center; display: table;}
#page1 .txt {display: table-cell; vertical-align: middle;}
#page1 .txt > :first-child {font-size: 1.2rem; font-weight: 600;}
#page1 .txt > h1 {margin-top: 3.5rem;}
#page1 .txt > h1 > span {display: block; font-weight: 500;}
#page1 .txt > h1 > span > span {color: #55b948; font-weight: bold;}
#page1 .txt > :last-child > span {display: block; font-weight: 400;}

/********** page2 *********
#page2 {width: 90%; margin: 0 auto;}*/
#page2 > div {float: left;}
.you_txt {width: 35%; height: 100%; display: table; text-align: center;}
.you_txt > div {display: table-cell; vertical-align: middle;}
.you_txt .full_logo {width: 30%; margin: 0 auto;}
.you_txt h1 {margin: 1.5rem 0;}
.you_txt h1 > span {display: block; font-weight: 500;}
.you_txt p > span {display: block; font-size: 1.2rem;}

.you_txt button {color: #fff; background-color: #222; border: 1px solid #222; position: relative; z-index: 1; box-sizing: border-box; margin-top: 4rem; padding: .5rem .7rem; cursor: pointer;}
.you_txt button:hover{color:#222;}
/*이벤트가 발생하기 전의 과정*/
.you_txt button:after{width: 0; height: 100%; position: absolute; top: 0; left: 0; content: ""; -webkit-transition:all 0.7s ease; -moz-transition:all 0.7s ease; -o-transition:all 0.7s ease; transition:all 0.7s ease; z-index: -1;}
/*마우스가 올라갔을 때 발생되는 애니메이션*/
.you_txt button:hover:after{width: 100%;}
.you_txt button:after{background-color: #fff;}


.you_box {width: 65%; height: 100%; display: table;}
.you_video {display: table-cell; vertical-align: middle;}
.you_video > iframe {width: 85%; height: 60%;}


/********** page3 **********/
#page3 .banner {width: 100%; height: 100%; display: table;}
#page3 ul {padding: 0 8rem; display: table-cell; vertical-align: middle; border-bottom: 1px solid #ccc;}
#page3 ul > li {width: 23%; height: 65%; margin-right: 2.65%; float: left;}
#page3 ul > :last-child {margin-right: 0;}
#page3 ul > li > div {height: 80%; overflow: hidden;}
#page3 ul > li > div > div {height: 20%;}
#page3 ul > li > h6 {margin: 1rem 0 .7rem;}
#page3 ul > li > h4 > span {display: block;}

#page3 ul > :first-child > div > img {width: 100%;}
#page3 ul > :nth-child(2) > div {background-color: #2cbdba;text-align: center;}
#page3 ul > :nth-child(2) > div > img {width: 60%; padding-top: 6rem;}
#page3 ul > :nth-child(3) > div {background-color: #f7b4d1;text-align: center;}
#page3 ul > :nth-child(3) > div > img {width: 80%; padding-top: 4rem;}
#page3 ul > :nth-child(4) > div {background-color: #555;text-align: center;}
#page3 ul > :nth-child(4) > div > img {width: 80%; padding-top: 5rem;}

/********** footer **********/
#page4 {height: 15%; border-top: 1px solid #999;}
footer {color: #ccc;}
footer .wid {width: 85%; margin: 0 auto;}
footer > ul {padding: 1.5rem 0;}
footer > ul > li {float: left; margin-right: .8rem; cursor: pointer;}
footer > ul > li:hover {text-decoration: underline;}
footer > ul > :nth-child(3) {color: #555; font-weight: 600;}
footer > :last-child {background-color: #fafafa; padding: 2rem 0;}
footer p {margin-bottom: 1rem;}
footer p > span {display: block; margin-bottom: .4rem;}