/*************** 초기화 ****************/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');


html, body {margin: 0; padding: 0; font-size: 14px; color:#222; box-sizing: border-box; font-family:'Noto Sans KR', sans-serif; height:100%; font-weight:300;}
h1, h2, h3, h4, h5, h6, p, span  {margin: 0; padding: 0; font-weight: 300;}
div, ul, li, ol, dl, dd, dt{margin: 0; padding: 0; box-sizing: border-box; list-style: none;}
table {margin:0; padding:0; border-collapse:collapse;}
th, td {margin:0; padding:0;}

a {text-decoration:none; color: inherit;}

.hand {cursor:pointer;}
.clear {clear:both;}
.clear:after {clear:both; content:""; display: block;}
.img {width:100%;}
.hover:hover {opacity:0.8;}
.eng {font-family: 'Montserrat', sans-serif;}
.tit {font-size: 1.2rem; font-weight: 500; color: #222; margin-bottom: 0.5rem;}
.ani_tit {font-family: 'Yeon Sung', cursive;}

/*************** header ****************/
html, body {width: 100%; height: 100%;}
.wrap {width: 1260px; margin: 0 auto;}
.head_wrap {position: relative; padding: 2rem 0;}
.head_wrap .logo {max-width: 200px; margin: 0 auto;}
.head_wrap > .head_nav {position: absolute; top: 17%; right: 0;}
.head_wrap > .head_nav > li {display: inline-block; margin-right: 1rem;}
.head_wrap > .head_nav > :last-child {margin-right: 0;}
.head_wrap > .head_nav > li > a {font-size: 1rem; font-weight: 400; color: #c80136;}
.nav {position: relative; width: 465px; margin: 0 auto;}
.nav > li {float: left;}
.nav > :last-child {margin-right: 0;}
.nav > li > a {font-size: 1.2rem; font-weight: 400; color: #222; padding: 0.5rem 1rem;}
/*
.nav > li > a:hover {animation-name: nav_Ani; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-out;}
@keyframes nav_Ani {
	0% {background-color: #c80136; color: #fff;}
	100% {background-color: #c80136; color: #fff;}
}
*/
.nav_hover {width: 120%; height: 305px; background-color: #fff; position: absolute; display: none; left:0; top:31px;}
.nav_hover > .nav_list {float: left; width: 55%}
.nav_hover > .nav_list > ul {float: left; width: 50%;}
.nav_hover > .nav_list > ul > h2 {font-size: 1.3rem; font-weight: 400; color: #c80136; margin-bottom: 0.5rem;}
.nav_hover > .nav_list a {display: block; width: 135px; font-size: 1rem; padding: 0.3rem 0 0.3rem 0.2rem;}
.nav_hover > .nav_list a:hover {animation-name: nav_listAni; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-out; color: #fff; font-weight: 400;}
@keyframes nav_listAni {
	0% {background-color: #c80136; padding-left: 0; }
	100% {background-color: #c80136; padding-left: 0.5rem;}
}
.nav_hover > .nav_ban {float: right; width: 45%; position: relative;}
.nav_hover > .nav_ban > img {position: absolute; cursor: pointer;}
.banner {overflow: hidden; height: 685px; margin-top: 0.5rem;}
.banner > li {float: left;}
.banner > .banner_img {width: 60%;}
.banner > .banner_txt {width: 40%; height: 100%; background-image: url("../img/kellogg/banner/banner_txtbg.png"); background-position: center center; background-size: cover; background-repeat: no-repeat; position: relative;}
.banner > .banner_txt h1 {font-size: 3.5rem; color: #fff; top: 20%; left: 50%; transform: translate(-50%, -20%); position: absolute;}
.banner > .banner_txt h1 > span {display: block;}
.banner > .banner_txt > ul > li {width: 20%; height: 20%; border-radius: 50%; float: left; border: 1px solid #fff;}

/*************** section ****************/
section {padding: 4rem 0;}
/*sub_banners*/
.sub_banners {overflow: hidden;}
.sub_banners > li {width: 49%; float: left;}
.sub_banners > :first-child {margin-right: 2%;}
.sub_banners > :first-child > div {background-image: url("../img/kellogg/banner/sub_banner01.png"); background-repeat: no-repeat;}
.sub_banners > :first-child > div > .sub_txt {width: 60%; color: #222; padding: 4rem 0 7rem 2rem; text-align: right;}
.sub_banners > :first-child > div > .sub_txt h3 {text-decoration: underline; font-weight: 400;}
.sub_banners > :first-child > div > .sub_txt span {display: block; font-size: 1rem;}
.sub_banners > :last-child > div {background-image: url("../img/kellogg/banner/sub_banner02.png"); background-repeat: no-repeat;}
.sub_banners > :last-child > div > .sub_txt > div {width: 38%; background-color: rgba(235, 235, 235, .8); padding: 2rem;}
.sub_banners > :last-child > div > .sub_txt > div > span {display: block;}

/*new_prds*/
.new_prds {overflow: hidden; padding: 5rem 0;}
.new_prds > ul > li {width: 25%; height: 450px; float: left; padding: 2rem;}
.new_prds > ul > li > p {background-color: #fff; display: inline-block; padding: 0.2rem 0.5rem;}
/*.new_prds > ul > li > a:hover {font-weight: 500;}*/
.new_prds > ul > li > h2 {margin: 1rem 0;}
.new_prds > ul > li > h2 > span {display: block; font-weight: 500;}
.new_prds > ul > :first-child {background-color: #8ce4f2; color: #4c9df8;}
.new_prds > ul > :nth-child(2) {background-color: #bfde62; color: #36a54d;}
.new_prds > ul > :nth-child(3) {background-color: #ffbf96; color: #f96d14;}
.new_prds > ul > :last-child {background-color: #e16687; color: #a4143b;}

/*products*/
.products {overflow: hidden;}
.products > ul > li {width: 20%; float: left; margin: 2rem 0;}
.products > ul > li > div {width: 70%; margin: 0 auto;}
.products > ul > li > h3 {font-weight: 400; text-align: center; margin-top: 1.5rem;}

/*youtube*/
.youtube {overflow: hidden; padding: 5rem 0;}
.you_box {width: 100%; padding: 3rem; background-color: #fff; box-shadow: 2px 2px 5px rgba(0, 0, 0, .5); overflow: hidden;}
.you_box > .you_video {float: left; width: 60%; height: 100%;}
.you_box > .you_txt {float: right; width: 40%; transform: translateY(-6px);}
.you_box > .you_txt > :first-child {margin-bottom: 1rem;}
.you_box > .you_txt > :nth-child(2) > :nth-of-type(2) {color: #c80136; font-size: 2.3rem; font-weight: 400; margin-left: 0.5rem;}
.you_box > .you_txt > :nth-child(3) > :nth-of-type(1) {font-size: 1.5rem; color: #20790c; font-weight: 400;}
.you_box > .you_txt > :nth-child(3) > :nth-of-type(2) {font-size: 1.5rem; color: #ff6401; font-weight: 400;}
.you_box > .you_txt > h1 > span {display: block;}
.you_box > .you_txt > h1 > :first-child {font-size: 4rem; font-weight: bold; color: #c80136;}
.you_box > .you_txt > h1 > :last-child {font-size: 2rem; font-weight: 500; color: #c80136;}
.you_box > .you_txt > :nth-child(5) {margin-top: 1rem;}
.you_box > .you_txt > button {background-color: #222; border: 0; color: #fff; padding: 0.2rem 0.5rem; margin-top: 2.5rem; cursor: pointer;}

/*sns*/
.sns {overflow: hidden;}
.sns > .tit {text-align: center;}
.sns_list {text-align: center;}
.sns_list > li {display: inline-block; width: 45px; height: 45px; line-height: 50px; margin: 1.2rem; margin-left: 0; border: 1px solid #c80136; border-radius: 40px; cursor: pointer;}
.sns_list > li > i {font-size: 1.8rem; color: #c80136; margin: 0 auto;}
.sns_pic {margin-bottom: 4rem;}
.sns_pic_list > li {width: 20%; float: left; cursor: pointer; overflow: hidden;}
.sns_pic_list > li > img {width: 100%;}
.sns_pic_list > li > img:hover {animation-name: picAni; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-out}
@keyframes picAni {
	0% {transform: scale(1);}
	100% {transform: scale(1.2);}
}

/*************** footer ****************/
footer {background-color: #1f3950; padding: 4rem 0; overflow: hidden;}
.footer > .foot_logo {width: 150px; cursor: pointer;}
.footer > p {color: #fff; margin: 1.5rem 0;}
.footer > p > span {display: block; letter-spacing: 1px;}
.footer > ul > li {float: left; margin-right: 1.5rem; color: #777; font-weight: 500;}
.footer > ul > li:hover {text-decoration: underline;}
