/*************** 초기화 ****************/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');


html, body {margin: 0; padding: 0; font-size: 14px; color:#222; box-sizing: border-box; font-family:'Noto Sans KR', sans-serif; height:100%; font-weight:300;}
h1, h2, h3, h4, h5, h6, p, span, img  {margin: 0; padding: 0; font-weight: 300; border:none;}
div, ul, li, ol, dl, dd, dt{margin: 0; padding: 0; box-sizing: border-box; list-style: none; border:none;}
table {margin:0; padding:0; border-collapse:collapse;}
th, td {margin:0; padding:0;}
img {vertical-align: middle;}

a {text-decoration:none; color: inherit;}

.hand {cursor:pointer;}
.clear {clear:both;}
.clear:after {clear:both; content:""; display: block;}
.img {width:100%;}
.hover:hover {opacity:0.8;}
.eng {font-family: 'Montserrat', sans-serif;}
.tit {font-size: 1.2rem; font-weight: 500; color: #222; margin-bottom: 0.5rem; letter-spacing: 2px;}
.ani_tit {font-family: 'Yeon Sung', cursive;}

/*************** header ****************/
html, body {width: 100%; height: 100%;}
.wrap {width: 1260px; margin: 0 auto;}
.head_wrap {position: relative; padding: 2rem 0; z-index: 1;}
.head_wrap .logo {max-width: 200px; margin: 0 auto;}
.head_wrap > .head_nav {position: absolute; top: 17%; right: 0;}
.head_wrap > .head_nav > li {display: inline-block; margin-right: 1rem;}
.head_wrap > .head_nav > :last-child {margin-right: 0;}
.head_wrap > .head_nav > li > a {font-size: 1rem; font-weight: 400; color: #c80136;}
.nav {position: relative; width: 465px; margin: 0 auto;}
.nav > li {float: left;}
.nav > :last-child {margin-right: 0;}
.nav_tit {font-size: 1.2rem; font-weight: 400; color: #222; padding: 0.5rem 1rem;}
/*
.nav > li > a:hover {animation-name: nav_Ani; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-out;}
@keyframes nav_Ani {
	0% {background-color: #c80136; color: #fff;}
	100% {background-color: #c80136; color: #fff;}
}
*/
.nav_hover {width: 120%; height: 305px; background-color: #fff; position: absolute; display: none; left:0; top:31px; z-index: 10;}
.nav_hover > .nav_list {float: left; width: 55%}
.nav_hover > .nav_list > ul {float: left; width: 50%;}
.nav_hover > .nav_list > ul > h2 {font-size: 1.3rem; font-weight: 400; color: #c80136; margin-bottom: 0.5rem;}
.nav_hover > .nav_list a {display: block; width: 135px; font-size: 1rem; padding: 0.3rem 0 0.3rem 0.2rem;}
.nav_hover > .nav_list a:hover {animation-name: nav_listAni; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-out; color: #fff; font-weight: 400;}
@keyframes nav_listAni {
	0% {background-color: #c80136; padding-left: 0; }
	100% {background-color: #c80136; padding-left: 0.5rem;}
}
.nav_hover > .nav_ban {float: right; width: 45%; position: relative;}
.nav_hover > .nav_ban > img {position: absolute; cursor: pointer;}

.mo_navs {display: none;}


.banner {margin-top: 0.5rem; position:relative;}
.banner > li {float: left;}
.banner > .banner_img {width: 100%; background: url("../img/kellogg/banner/ban_txtbg.png") no-repeat right top; background-size: 40%; position: relative; }
.banner > .banner_img > img {width:60%; float:left;}
.banner > .banner_txt {width: 40%; position:absolute; top:0; right:0;}
.banner > .banner_txt h1 {font-size: 3.5rem; color: #fff; left: -23%; transform: translateX(23%); margin: 5rem 0;}
.banner > .banner_txt h1 > span {display: block;}
.banner > .banner_txt > ul > li > p > :last-child {display: none;}
.banner > .banner_txt > ul {width: 100%; text-align: center;}
.banner > .banner_txt > ul > li {width: 130px; height: 130px; border-radius: 65px; display: inline-block; border: 1px solid #fff; padding: 1rem; margin-right: 2rem;}
.banner > .banner_txt > ul > :last-child {margin-right: 0;}
.banner > .banner_txt > ul > li > div {width: 60%; height: 60%; margin: 0 auto;}
.banner > .banner_txt > ul > li span {display: block; color: #fff; text-align: center; color: #ecb301;}

/*************** section ****************/
section {padding: 4rem 0;}
/*sub_banners*/
.sub_banners {overflow: hidden;}
.sub_banners > li {width: 49%; float: left; position: relative;}
.sub_banners > li > img{cursor: pointer;}
.sub_banners .sub_txt {position: absolute;}
.sub_banners > li > div .sub_txt span {display: block; font-size: 1rem;}
.sub_banners > :first-child {margin-right: 2%;}
.sub_banners > :first-child > div > .sub_txt {color: #222; text-align: right; top: 40%; left: 30%; transform: translate(-30%, -40%);}
.sub_banners > :first-child > div > .sub_txt h3 {text-decoration: underline; font-weight: 400; margin-bottom: 1rem; font-size: 1.2rem;}
.sub_banners > :last-child > div > .sub_txt {top: 30%; right: 7%; transform: translate(-7%, -30%);}
.sub_banners > :last-child > div > .sub_txt > div {background-color: rgba(235, 235, 235, .8); padding: 2rem; }

/*new_prds*/
.new_prds {overflow: hidden; padding: 5rem 0;}
.new_prds > ul > li {width: 25%; height: 450px; float: left; position: relative;}
.new_prds > ul > li > div {padding: 2rem;}
.new_prds > ul > li p {background-color: #fff; display: inline-block; padding: 0.2rem 0.5rem; font-weight: 400;}
/*.new_prds > ul > li > a:hover {font-weight: 500;}*/
.new_prds > ul > li h2 {margin: 1rem 0;}
.new_prds > ul > li h2 > span {display: block; font-weight: 500;}
.new_prds > ul > li > img {float: right; right: 0; bottom: 0; width: 30%; position: absolute;}
.new_prds > ul > :first-child {background-color: #8ce4f2; color: #4c9df8;}
.new_prds > ul > :nth-child(2) {background-color: #bfde62; color: #36a54d;}
.new_prds > ul > :nth-child(3) {background-color: #ffbf96; color: #6e6a68;}
.new_prds > ul > :last-child {background-color: #e16687; color: #a4143b;}

/*products*/
.products {overflow: hidden;}
.products > ul {position: relative;}
.products > ul > li {width: 20%; float: left; margin: 2rem 0;}
.products > ul > li > div {width: 70%; margin: 0 auto; position: relative;}
.products > ul > li > h3 {font-weight: 400; text-align: center; margin-top: 1.5rem;}
.prds > :nth-child(1) {position:absolute; top:0; left:0; z-index:2; opacity:1;}
.prds > :nth-child(2) {position:absolute; top:0; left:0; z-index:1; opacity:0;}
.prds > :nth-child(3) {opacity:0;}
/*youtube*/
.youtube {padding: 5rem 0;}
.you_box {width: 100%; padding: 3rem; background-color: #fff; box-shadow: 2px 2px 5px rgba(0, 0, 0, .5); overflow: hidden;}
.you_box > .you_video {float: left; width: 60%;}
.you_box > .you_video > iframe {width: 90%; height: 330px;}
.you_box > .you_txt {float: right; width: 40%; transform: translateY(-6px);}
.you_box > .you_txt > :first-child {margin-bottom: 1rem;}
.you_box > .you_txt > :nth-child(2) > :nth-of-type(2) {color: #c80136; font-size: 2.3rem; font-weight: 400; margin-left: 0.5rem;}
.you_box > .you_txt > :nth-child(3) > :nth-of-type(1) {font-size: 1.5rem; color: #20790c; font-weight: 400;}
.you_box > .you_txt > :nth-child(3) > :nth-of-type(2) {font-size: 1.5rem; color: #ff6401; font-weight: 400;}
.you_box > .you_txt > h1 > span {display: block;}
.you_box > .you_txt > h1 > :first-child {font-size: 4rem; font-weight: bold; color: #c80136;}
.you_box > .you_txt > h1 > :last-child {font-size: 2rem; font-weight: 500; color: #c80136;}
.you_box > .you_txt > :nth-child(5) {margin-top: 1rem;}
.you_box > .you_txt > button {width: 110px; height: 30px; background-color: #222; border: 0; color: #fff; margin-top: 2.5rem; cursor: pointer; position: absolute; z-index: 3;}
.you_box > .you_txt > button:nth-child(2) {opacity: 1;}
.you_box > .you_txt > .you_bt_hover {position: absolute; z-index: 2;}

/*sns*/
.sns {overflow: hidden;}
.sns > .tit {text-align: center;}
.sns_list {text-align: center;}
.sns_list > li {display: inline-block; width: 45px; height: 45px; line-height: 50px; margin: 1.2rem; margin-left: 0; border: 1px solid #c80136; border-radius: 40px; cursor: pointer;}
.sns_list > li > i {font-size: 1.8rem; color: #c80136; margin: 0 auto;}
.sns_pic {margin-bottom: 4rem;}
.sns_pic_list > li {width: 20%; float: left; cursor: pointer; overflow: hidden;}
.sns_pic_list > li > img {width: 100%;}
.sns_pic_list > li > img:hover {animation-name: picAni; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-out}
@keyframes picAni {
	0% {transform: scale(1);}
	100% {transform: scale(1.2);}
}

/*************** footer ****************/
footer {background-color: #1f3950; padding: 4rem 0; overflow: hidden;}
.footer > .foot_logo {width: 150px; cursor: pointer;}
.footer > p {color: #fff; margin: 1.5rem 0;}
.footer > p > span {display: block; letter-spacing: 1px;}
.footer > ul > li {float: left; margin-right: 1.5rem; color: #777; font-weight: 500;}
.footer > ul > li:hover {text-decoration: underline;}


@media screen and (max-width: 1260px) {
	.wrap {width: 80%;}
	.banner > .banner_txt h1 {font-size: 2rem; left: -23%; transform: translateX(23%); margin: 4rem 0 2.5rem;}
	.banner > .banner_txt > ul > li {width: 100px; height: 100px; border-radius: 50px; margin-right: 1rem;}
	.banner > .banner_txt > ul > :last-child {margin-right: 0;}
	.banner > .banner_txt > ul > li > div {width: 50%; height: 50%; margin: 0 auto;}
	.banner > .banner_txt > ul > li span {font-size: 0.8rem;}

	.new_prds {overflow: hidden; padding: 5rem 0;}
	.new_prds > ul > li {height: 400px;}
	.new_prds > ul > li h2 {font-size: 1.3rem;}

}

@media screen and (max-width: 797px) {
	.head_nav {display: none;}
	section {padding: 2.5rem 0;}
	.banner > .banner_txt h1 {font-size: 1.5rem; left: -20%; transform: translateX(20%); margin: 3rem 0 2rem;}
	.banner > .banner_txt > ul > li {width: 70px; height: 70px; margin-right: 0.5rem;}
	.banner > .banner_txt > ul > li span {display: none;}
	.banner > .banner_txt > ul > li > p > :last-child {display: block;}

	.tit {font-size: 1.3rem;}
	.sub_banners > li > div .sub_txt span {font-size: 0.7rem;}
	.sub_banners > :first-child > div > .sub_txt {top: 50%;}
	.sub_banners > :first-child > div > .sub_txt h3 {font-size: 1rem;}
	.sub_banners > :last-child > div > .sub_txt {top: 40%;}
	.sub_banners > :last-child > div > .sub_txt > div {padding: 1rem;}

	.new_prds {overflow: hidden; padding: 4rem 0;}
	.new_prds > ul > li {width: 50%; height: 300px;}
	.new_prds > ul > li > img {width: 25%;}

	
	.products > ul > li {width: 33.33333333333333%;}
	.products > ul > li > div {width: 60%;}
	.products .mo_prd_hide {display: none;}

	.youtube {padding: 3rem 0;}
	.you_box {padding: 2rem;}
	.you_box > .you_video > iframe {height: 280px;}
	.you_box > .you_txt > h3 {font-size: 1rem;}	
	.you_box > .you_txt > :first-child {margin-bottom: 0.7rem;}
	.you_box > .you_txt > :nth-child(2) > :first-child {display: none;}
	.you_box > .you_txt > h1 > span {display: block;}
	.you_box > .you_txt > h1 > :first-child {font-size: 2rem;}
	.you_box > .you_txt > h1 > :last-child {font-size: 1rem;}

	.sns_list > li {width: 40px; height: 40px; line-height: 40px; margin: 0.5rem; border-radius: 20px;}
	.sns_list > li > i {font-size: 1.2rem; }
	.sns_pic {margin-bottom: 2rem;}
	.sns_pic_list > .mo_sns_hide {display: none;}
	.sns_pic_list > li {width: 25%;}

	footer {padding: 2.5rem 0;}
	.footer > .foot_logo {width: 100px;}
	.footer > p {margin: 1rem 0;}
	.footer > p > span {display: block; letter-spacing: 1px;}
	.footer > ul > li > a {font-size: 0.875rem;}
}

@media screen and (max-width: 479px) {
	.wrap {width: 90%;}
	.head_wrap {padding: 1rem 0;}
	.head_wrap .logo {max-width: 150px;}
	.nav {display: none;}
	

	.mo_navs {display: block; width: 100%; height: 100%; position: absolute; top: 2%; right: 5%; z-index: 10;}
	.mo_navs > i {font-size: 1.5rem; color: #c80136; position: absolute; right: 0;}
	.mo_nav {display: none; width: 100%; position: absolute; top: 3%; background-color: #c80136;}
	.navi {float: none; position: relative;}
	.nav_tit {color: #fff; display: block;}
	.nav_hover {height: 305px;}
	.nav_hover > .nav_list {width: 100%}
	.nav_hover > .nav_list > ul {float: left; width: 50%;}
	.nav_hover > .nav_list > ul > h2 {font-size: 1.3rem; font-weight: 400; color: #c80136; margin-bottom: 0.5rem;}
	.nav_hover > .nav_ban {display: none;}
	.nav_hover > .nav_list a {display: block;}
	.nav_hover > .nav_list a:hover {animation-name: mo_nav_listAni; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-out; color: #fff; font-weight: 400;}
	@keyframes mo_nav_listAni {
		0% {color: #c80136; padding-left: 0; }
		100% {color: #c80136; padding-left: 0.5rem;}
	}

	.banner > li {float: none;}
	.banner > .banner_img > img {width: 100%; float: none;}
	.banner > .banner_txt {display: none;}

	.tit {font-size: 1rem;}
	.sub_banners > li {float: none; width: 100%;}
	.sub_banners > :first-child {margin-bottom: 1rem;}

	.products > ul > li {width: 50%;}

	.new_prds {padding: 2rem 0;}
	.new_prds > ul > li {width: 100%; height: 180px; float: none;}
	.new_prds > ul > li > div {padding: 1.5rem;}
	.new_prds > ul > li h2 {display: block;}
	.new_prds > ul > li > div > a {display: none;}
	.new_prds > ul > li > img {width: 14%;}

	.youtube {padding: 1.5rem 0;}
	.you_box {padding: 1rem;}
	.you_box > .you_video {float: none; width: 100%;}	
	.you_box > .you_video > iframe {height: 280px; width: 100%;}
	.you_box > .you_txt {float: none; display: none;}

	.sns {padding-top: 1rem;}
	.sns_pic {margin-bottom: 2rem;}
	.sns_pic_list > li {width: 50%;}
	.footer > .foot_logo {width: 150px; margin: 0 auto;}
	.footer > p {font-size: 0.8rem;}
	.footer > ul > li {float: none; margin-right: 0;}
}
