/*************** 초기화 ****************/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');


html, body {margin: 0; padding: 0; font-size: 14px; color:#222; box-sizing: border-box; font-family:'Noto Sans KR', sans-serif; height:100%; font-weight:300;}
h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0; font-weight: 0;}
div, ul, li, ol, dl, dd, dt, span {margin: 0; padding: 0; box-sizing: border-box; list-style: none;}
table {margin:0; padding:0; border-collapse:collapse;}
th, td {margin:0; padding:0;}

a {text-decoration:none; color: inherit;}

.hand {cursor:pointer;}
.clear {clear:both;}
.clear:after {clear:both; content:""; display: block;}
.img {width:100%;}
.hover:hover {opacity:0.8;}
.hover_rev {opacity:0.8;}
.hover_rev:hover {opacity:1.0;}

/*************** intro ****************/
.mainbanner{background-image:url("../img/intro/sky.png");background-repeat:no-repeat; background-size:cover; background-position:center center; width:100%; height:100%;}
.banner{width:100%; height: 100%; position: relative;; z-index:111111; }
.banner > div, .banner > img {position: absolute;}
.banner .title {
	width: 60px; 
	height: 90px; 
	border: 1px solid #333; 
	display: table; 
	margin: 0 auto; 
	top: 20%; 
	left: 50%; 
	-webkit-transform:translate(-50%, -20%);
	-moz-transform:translate(-50%, -20%);
	-o-transform:translate(-50%, -20%);
	transform:translate(-50%, -20%);
	z-index: 9999;
}
.banner .title > .caption {display: table-cell; vertical-align: middle; text-align: center;}
.banner .title > .caption > span {display: block; color: #333}
.banner .summit{
	width: 100%; 
	bottom: -25%; 
	left: 50%; 
	-webkit-transform:translate(-50%, 25%);
	-moz-transform:translate(-50%, 25%);
	-o-transform:translate(-50%, 25%);
	transform:translate(-50%, 25%); 
	z-index:9;
}
.banner .iphone {
	max-width: 400px; 
	bottom: -20%; 
	left: 50%;
	-webkit-transform:translate(-50%, 20%);
	-moz-transform:translate(-50%, 20%);
	-o-transform:translate(-50%, 20%);
	transform:translate(-50%, 20%);
	z-index:999;
	
}
.sign_bt {
	left: 50%; 
	bottom: 10%; 
	-webkit-transform:translate(-50%, -10%);
	-moz-transform:translate(-50%, -10%);
	-o-transform:translate(-50%, -10%);
	transform:translate(-50%, -10%); 
	z-index: 999;
}
.sign_bt > button {width: 7rem; height: 2.5rem; border: 0; border-radius: 10px; background-color: #ffcd16; }
.sign_bt > button:hover {background-color: #333; color: #ffcd16; font-weight: bold;}
.banner .cloud{top:0; left:0; width:5440px; height:100%; background-image:url("../img/intro/could.png"); z-index:99;}

/*************** main ****************/
.main{background-image:url("../img/main/summit_bott.png");background-repeat:no-repeat; background-size:cover; background-position:center center; width:100%; height:100%;}
.simple_about {width:100%; height: 100%; position: relative;; z-index:111111; overflow: hidden; overflow: hidden;}
.simple_about > .left {width: 50%; height: 100%; float: left; position: relative;}
.simple_txt {width: 100%; height: 100%; }
.simple_txt > h1 {font-size: 5rem; color: #ffcd16; position: absolute; top: 8%; left: 20%; z-index: 999;}
.simple_txt > div {width: 70%; height: 80%; background-color: #000; position: absolute; top: 15%; left: 15%;; z-index: 99;}
.main .climing {width: 50%; position:absolute; right: 0; bottom: 0;}