/*************** 초기화 ****************/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {margin: 0; padding: 0; font-size: 14px; color:#222; box-sizing: border-box; font-family:'Noto Sans KR', sans-serif; height:100%; font-weight:300;}
h1, h2, h3, h4, h5, h6, p, span  {margin: 0; padding: 0; font-weight: 300;}
div, ul, li, ol, dl, dd, dt{margin: 0; padding: 0; box-sizing: border-box; list-style: none;}
table {margin:0; padding:0; border-collapse:collapse;}
th, td {margin:0; padding:0;}

a {text-decoration:none; color: inherit;}

.hand {cursor:pointer;}
.clear {clear:both;}
.clear:after {clear:both; content:""; display: block;}
.img {width:100%;}
.hover:hover {opacity:0.8;}
.bold {font-weight: 500;}
.eng {font-family: 'Montserrat', sans-serif;}
.wrap {width: 100%; height: 100%;}

/*************** nav ****************/
.nav {
	width: 376px; 
	height: 90%; 
	color: #fff; 
	background-color: rgba(82, 68, 62, .7);
	position: absolute; 
	z-index: 25; 
	top: 0; 
	left: 50%;
	-webkit-transform:translate(-50%, 0);
	-moz-transform:translate(-50%, 0);
	-o-transform:translate(-50%, 0);
	transform:translate(-50%, 0);
	display: none;}
.nav > div {width: 75%; height: 50%; margin: 0 auto; position: relative; top:  24rem;}
.nav > div > :nth-child(1) {background-color: #ffcd16; width: 4.5rem; height: 0.2rem; float: left; position: absolute; top: 1.25rem; left: 0;}
.nav > div > :nth-child(2) {float: right; position: absolute; right: 4.5rem;line-height: 2.5rem; z-index:2;	box-sizing:border-box; cursor: pointer;}
.nav > div > :nth-child(2) > h2 {font-size: 1.8rem; margin-bottom: 5rem;}
.nav > div > :nth-child(2) > h3 {font-size: 1.3rem; font-weight: 300; margin-bottom: 4rem; width: 100%; position: relative; z-index: 2; box-sizing: border-box;}
.nav > div > :nth-child(2) > h3:after{
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content:"";
	/*장면전환을 주기 위한 애니메이션 부분*/
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	/*a 안엝서의 애니메이션 부분은 오브젝트보다*/
	z-index:-1;
}
/*마우스가 올라갔을 때 발생띘는 애니메이션 화면을 rn조 안엝서 다른 색으로 변경한 부분*/
.nav > div > :nth-child(2) > h3:nth-child(2):hover:after{width:100%; background-color: #ffcd16;}
.nav > div > :nth-child(2) > h3:nth-child(3):hover:after{width:100%; background-color: #3e95ce;}
.nav > div > :nth-child(2) > h3:last-child:hover:after{width:100%; background-color: #00be65;}
/*.nav > h4 {text-align: center; margin-bottom: 1.5rem; font-weight: 300;} 
.nav > h4 > strong {font-size: 1.2em; margin-right: 1rem;} */

/*************** intro ****************/
.mainbanner{background-image:url("../img/ejunhee/intro/sky.png");background-repeat:no-repeat; background-size:cover; background-position:center center; overflow: hidden;}
.banner{width:100%; height: 100%; position: relative;; z-index:11; }
.banner > div, .banner > img {position: absolute;}
.banner .title {
	width: 60px; 
	height: 90px; 
	border: 1px solid #333; 
	display: table; 
	margin: 0 auto; 
	top: 20%; 
	left: 50%; 
	-webkit-transform:translate(-50%, -20%);
	-moz-transform:translate(-50%, -20%);
	-o-transform:translate(-50%, -20%);
	transform:translate(-50%, -20%);
	z-index: 10;
}
.banner .title > .caption {display: table-cell; vertical-align: middle; text-align: center;}
.banner .title > .caption > span {display: block; color: #333}
.banner .summit{
	width: 100%; 
	bottom: -25%; 
	left: 50%; 
	-webkit-transform:translate(-50%, 25%);
	-moz-transform:translate(-50%, 25%);
	-o-transform:translate(-50%, 25%);
	transform:translate(-50%, 25%); 
	z-index:1;
}
.iphone_nav {	
	width: 22%;
	position: fixed;
	bottom: -20%; 
	left: 50%;
	-webkit-transform:translate(-50%, 20%);
	-moz-transform:translate(-50%, 20%);
	-o-transform:translate(-50%, 20%);
	transform:translate(-50%, 20%);
	z-index: 999999;
}
.sign_bt {
	position: absolute;
	left: 50%;
	bottom: 55%;
	-webkit-transform:translate(-50%, -45%);
	-moz-transform:translate(-50%, -45%);
	-o-transform:translate(-50%, -45%);
	transform:translate(-50%, -45%);
	z-index: 10;
}
.sign_bt > button {width: 7rem; height: 2.5rem; border: 0; border-radius: 10px; background-color: #ffcd16; }
.sign_bt > button:hover {background-color: #333; color: #ffcd16; font-weight: bold;}
.banner .cloud{top:0; left:0; width:5440px; height:100%; background-image:url("../img/ejunhee/intro/could.png"); z-index:9;}

/*************** main ****************/
.main {overflow: hidden; background-image:url("../img/ejunhee/main/summit_bott.png");background-repeat:no-repeat; background-size:cover; background-position:center center; overflow: hidden;}
.simple_about {width:100%; height: 100%; position: relative;}
.simple_about > .about_left {width: 50%; height: 100%; float: left; position: relative;}
.simple_txt {width: 100%; height: 100%; }
.simple_txt > h1 {font-size: 5rem; font-weight: bold; color: #ffcd16; position: absolute; top: 5%; left: 20%; z-index: 1111;}

.simple_txt > div {width: 70%; height: 80%; position: absolute; top: 20%; left: 20%;; z-index: 111; overflow: hidden;}
.chart_txt > div {color: #fff; float: left;}
.chart_txt > div > h3 {margin-bottom: 5px;}
.chart_txt > :first-child {width: 14%;}
.chart_about {margin-bottom: 5px; color: #fff}
.chart_about > p {width: 90%; font-size: 1rem; padding: 2%;}
.chart_about > p > span {display: block;}
.chart_box {overflow: hidden; color: #fff;}
.chart_box > h3 {margin-bottom: 3%;}
.chart_box > h3 > :last-child {font-size: 1rem; text-decoration: underline; padding-bottom: 5%;}
.charts {margin-top: 5%;}
.chart_wrap {width: 31.33333333333333%; padding-right: 3%; float: left; z-index: 1111;}
.chart_wrap:nth-child(4), .chart_wrap:nth-child(5), .chart_wrap:last-child {margin-top: 5%;}

.chart_wrap:nth-child(3), .chart_wrap:last-child {padding-left: 0;}
.main .climing {width: 50%; position:absolute; right: 0; bottom: 0; z-index: 15;}
.main .summit_bott {position: absolute; left: 0; bottom: 0; z-index: 1;}


/*************** portfolio ****************/
.portfolio {background-color: #fff; position: relative;}
.portfolio .port_left {width: 50%; height: 100%; float: left; display: table;}
.port_left > ul {display: table-cell; vertical-align: middle;}
.port_left .tit_line {width: 100%; cursor: pointer; padding-bottom: 1.5rem; box-sizing: border-box;}
.port_left > ul h4 {background-color: #fff; position: relative; width: 100px; margin: 0 auto; top: -10px; padding-left: 1.5rem;}

.portfolio .port_mid {width: 60%; height: 100%; position: absolute; left: 70%; transform:translateX(-70%); z-index: 20;}
.portfolio .port_mid > .card {position: absolute;}
.portfolio .port_mid > .card > img {border-radius: 5px;}
.portfolio .port_mid > div:nth-child(1) {
	top: 50%; 
	left: 40%;
	-webkit-transform:translate(-40%, -55%);
	-moz-transform:translate(-40%, -50%); 
	-o-transform:translate(-40%, -50%); 
	transform:translate(-40%, -50%);
}
.portfolio .port_mid > div:nth-child(1) > img {width: 90%;}
.portfolio .port_mid > div:nth-child(2) {width: 15%; height: 12%; top: 27.5%; right: 13.2%;}
.portfolio .port_mid > div:nth-child(3) {width: 15%; height: 12%; top: 41.5%; right: 13.2%;}
.portfolio .port_mid > div:nth-child(4) {width: 15%; height: 12%; top: 55.5%; right: 13.2%;}
.portfolio .port_mid > div:nth-child(5) {width: 15%; height: 12%; top: 55.5%; right: 13.2%;}
.portfolio .port_mid > h5 > a {color: #fff; position: absolute;right: 20.5%; top: 71%; z-index: 999; letter-spacing: 2px;}

#cards2 > .card {width: 71%; height: 45%; margin-left: 3.6rem; background-color: #f30;}
#cards2 .weather > :first-child {color: #fff; font-size: 1.5rem; text-align: center; font-weight: 400; padding: 1.5rem 0;}
.tabs > li{float: left; width: 50%;}
.daily, .weekly{width: 50%; float: left; padding: 5%; text-align: center;}
.daily{display: table; border-right: 1px solid #ccc; }
.daily > div{display: table-cell; text-align: center; vertical-align: middle;}
.weekly{overflow: auto;}
.weekly > li{padding: 3%; border-bottom: 1px solid #ccc; text-align: left;}
.weekly ul{width: 80%; float: left; padding-left: 10%; }

.dl_icon{width: 80%; max-width: 250px;}
.dl_area > span {display: block;}
.dl_area > :first-child {font-size: 1.2em; color: #fff;}
.dl_area button {margin-top: 1rem; border: 0; background-color: #fff; color: #222;}
.dl_date{font-size: 1.5em; color: rgb(66, 66, 66);}
.dl_temp{font-size: 2em; color: rgb(8, 52, 102);}
.dl_desc{font-size: 1.5em; color: rgb(177, 177, 177);}


.wk_area{font-size: 1.25em;  color: rgb(2, 39, 95); font-weight: bold;}
.wk_date{font-size: 1.25em;  color: rgb(66, 66, 66);}
.wk_temp{font-size: 1.5em;  color: rgb(8, 52, 102);}
.wk_desc{font-size: 1.25em;  color: rgb(177, 177, 177);}

.tab_active{background-color: rgb(3, 112, 185); color: #fff;}
.tab_disable{background-color: rgb(202, 216, 226); color: #666;}


.portfolio .port_right {width: 50%; height: 105%; background-color: #3e95ce; border-radius: 1%; float: right; position: absolute; top: -5%; right: 0; z-index: 16;}
.portfolio .port_right > h5 {color: #fff; font-size: 1rem; letter-spacing: 2px; line-height: 3.4rem; margin-left: 2rem;}

/*************** about ****************/
.about {position: relative;}
.about > div {width: 100%; height: 100%; position: absolute;}
.about > :first-child {background-color: lightcoral;}
.about > :nth-child(2) {background-color: goldenrod;}
.about > :nth-child(3) {background-color: lightseagreen;}
.about > :nth-child(4) {background-color: lightblue;}
.about > :last-child {background-color: lightgreen;}